<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.gole.firstgcm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.gole.firstgcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        
        <receiver
            android:name="com.example.helpout.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />
                <category android:name="com.example.helpout" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        
        <activity
            android:name="com.example.helpout.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helpout.EditContacts"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name="com.example.helpout.sendalert"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.pinchange"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.newpin"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.about"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.help"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.ThinkDanger"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.example.helpout.CancelAlarm"
            android:launchMode="singleTop" >
        </activity>
		<activity
            android:name="com.example.helpout.ShowMap"
            android:launchMode="singleTop" >
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCi6TsdaXRUHUMz7pMjr8FumZ-2xYiq1-M" />
    </application>

</manifest>